/*Universal Styles */

body {
  margin: 0;
  font-family: georgia;
  font-size: 17px;
  color: black;
}
a {
  color: black;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold;
}

nav li {
  display: inline-block;
  padding: 20px 10px;
}

/* Universal Styles-New Stories */

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.stories .text-content {
  height: 250px;
}
.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.narrative {
  margin-top: 16px;
}

.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

/*Header*/

header {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 1;

}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;

}
.logo span {
  color: MediumAquamarine;
}

 ul {
  list-style-type: none;

 }

header nav {
  padding-right: 40px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

/*Main Content */

.content {
  display: flex;
  padding top: 116px;
  margin: 0 auto 78px auto;
  width: 1232px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

/* First News Column */

.column.one {
  width: 630px;
}

.lead-story .image-content {
  margin-top: 0;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  text-align: left;
  width: 630px;
  font-size: 40px;
}
.lead-story .image-content span {
  margin-left: 20px;
}
.camera.image-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

.earth.image-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

/* Second News Column */

.column.two {
  width: 300px;
}

.cat.image-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}

/* Third News Column */


.column.three {
  width: 240px;

}
img.cookie {
  height: 240px;
}
.news-bites h3 {
  margin-bottom: 41px;
  font-size: 16px;
  text-align: center;
}
.news-bites .bite {
  display: block;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  background-color: whitesmoke;
  font-family: Verdana;
  font-size: 12px;
  color: dimgray;
}
.bite span {
  padding-left: 11px;
}
/* Footer */

footer {
  align-items: center;
  background-color: MediumAquamarine;
  display: flex;
  flex-direction: column;
  font-family: Verdana;
  font-size: 12px;
  height: 325px;
  justify-content: center;
  margin: auto;
  width: 100%;
}

footer .title {
  display: inline-block;
  padding-right: 25px;
  border-right: 2px solid white;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

footer nav {
  display: inline-block;
  padding-left: 25px;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
